{% extends './layout.html' %}
{% block title %}Update{% endblock %}

{% block content %}
<div class="country-update">
    <h1>Update Book: Australiaa</h1>
    <div class="country-form">
        <form id="w0" action="http://192.168.64.2/index.php?r=country%2Fupdate&amp;id=AU" method="post">
            <input type="hidden" name="_csrf" value="1ZPQES10mGQwtb7VoOehP-MeP84G84q8fgcph5Lz0hKxy5V3HBChMQaBj6ySl-J-0kt9hVWa898HXU7i0b26VQ==">
            <div class="form-group field-country-code required">
                <label class="control-label" for="country-code">Code</label>
                <input type="text" id="country-code" class="form-control" name="Country[code]" value="AU"
                    maxlength="2" aria-required="true">

                <div class="help-block"></div>
            </div>
            <div class="form-group field-country-name required">
                <label class="control-label" for="country-name">Name</label>
                <input type="text" id="country-name" class="form-control" name="Country[name]" value="Australiaa"
                    maxlength="52" aria-required="true">

                <div class="help-block"></div>
            </div>
            <div class="form-group field-country-population">
                <label class="control-label" for="country-population">Population</label>
                <input type="text" id="country-population" class="form-control" name="Country[population]"
                    value="18886000">

                <div class="help-block"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button> </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/scripts/yii.validation.js"></script>
<script src="/scripts/yii.activeForm.js"></script>
<script>
    jQuery(function ($) {
        jQuery('#w0').yiiActiveForm([{
            "id": "country-code",
            "name": "code",
            "container": ".field-country-code",
            "input": "#country-code",
            "validate": function (attribute, value, messages, deferred, $form) {
                yii.validation.required(value, messages, {
                    "message": "Code cannot be blank."
                });
                yii.validation.string(value, messages, {
                    "message": "Code must be a string.",
                    "max": 2,
                    "tooLong": "Code should contain at most 2 characters.",
                    "skipOnEmpty": 1
                });
            }
        }, {
            "id": "country-name",
            "name": "name",
            "container": ".field-country-name",
            "input": "#country-name",
            "validate": function (attribute, value, messages, deferred, $form) {
                yii.validation.required(value, messages, {
                    "message": "Name cannot be blank."
                });
                yii.validation.string(value, messages, {
                    "message": "Name must be a string.",
                    "max": 52,
                    "tooLong": "Name should contain at most 52 characters.",
                    "skipOnEmpty": 1
                });
            }
        }, {
            "id": "country-population",
            "name": "population",
            "container": ".field-country-population",
            "input": "#country-population",
            "validate": function (attribute, value, messages, deferred, $form) {
                yii.validation.number(value, messages, {
                    "pattern": /^\s*[+-]?\d+\s*$/,
                    "message": "Population must be an integer.",
                    "skipOnEmpty": 1
                });
            }
        }], []);
    });
</script>
{% endblock %}